{% extends 'bootstrap_3_layout.html.twig' %}

{% block _app_portfolio_shares_entry_row %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}"
         {% if form.share.vars.data %}data-share-code="{{ form.share.vars.data.code }}"{% endif %}>
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block _app_portfolio_shares_entry_share_row %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' js-share-code' }) %}

    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <span>
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}:
            <span class="js-share-code">{% if value is not empty %}{{ value }}{% endif %}</span>

            <a href="#" class="glyphicon glyphicon-minus js-delete-share" title="Удалить"></a>
        </span>
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block _app_portfolio_shares_entry_count_widget %}
    {% set type = 'number' %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' js-share-count', 'min': '1' }) %}

    {{ block('form_widget') }}
{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'js-portfolio-form'} }) }}
        <div>
            {{ form_widget(form.shares, {'attr': {'class': 'js-portfolio-shares'} }) }}

            {{ form_rest(form) }}
        </div>

        <div class="row js-share-adder">
        </div>
    {{ form_end(form) }}

    <script type="text/template" class="js-share-adder-template">
        <div class="col-md-10 js-adder-control">
            <div class="form-inline">
                <div class="form-group">
                    <select class="form-control js-share-code" name="">
                        <% _.each(shareCodes, function(code) { %>
                            <option><%= code %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control js-share-count" type="number" name="" min="1" value="<%= model.count %>">
                </div>
                <button class="btn btn-default js-add-share">Добавить акцию</button>
            </div>
        </div>
        <div class="col-md-2 js-submit-control">
            <button class="btn btn-submit">Сохранить</button>
        </div>
    </script>

    <script src="/js/require.js"></script>
    <script>
            require(['/js/app/config.js'], function () {
                require(['portfolio'], function(app) {
                    app.init(
                            {{ form.vars.data|json_encode|raw }},
                            {{ all_shares|json_encode|raw }}
                    );
                });
            });

    </script>
{% endblock %}