{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% if not presenter.error %}
        <script src="{{ asset('js/highstock.js') }}"></script>

        <script>
            {{ chart(presenter.chart) }}
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div id="chart">
        {% if presenter.error %}
            {{ presenter.error }}
        {% endif %}
    </div>
{% endblock %}