{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" class="form-control" id="password" name="_password" required="required"/>
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>

            <input type="submit" class="btn btn-submit" id="_submit" name="_submit"
                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>
    </form>
{% endblock fos_user_content %}
